.info {
  text-align: center;
}

.about {
  margin: 3.2rem 3.5rem;
  line-height: 1.5rem;
}

.title {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  color: #F5F5F5;
  font-size: 1.6rem;
}

.about p {
  color: #DCDCDC;
}

.photo {
  width: 31.7rem;
  height: 31.7rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.name {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 2.1rem;
  margin-bottom: 0.6rem;
}

.card {
  background: #1A1B21;
  padding-top: 0;
  max-width: 31.7rem;
}

.position {
  font-size: 1.3rem;
  padding-bottom: 0.9rem;
  color: #F3BF99;
}

p {
  font-size: 1rem;
}

.website {
  padding-bottom: 1.6rem;
  color: white;
}

button {
  background: white;
  font-weight: 500;
  font-size: 1.4rem;
  border: none;
  width: 24.7rem;
  padding-block: 0.9rem;
  border-radius: 0.6rem;
}

i {
  margin-right: 0.9rem;
}

footer {
  background: #161619;
  padding-block: 1.95rem;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

footer > img {
  height: 2.5rem;
}